*,
*::after {
  box-sizing: border-box;
}

body {
    text-align: center;
    background: #94af9e;
    font-family: 'Open Sans', sans-serif;
}

h1 {
    font-size: 1.5em;
    color: rgba(255, 255, 255, 0.6);
    margin: 0.2em;
}

h2 {
  margin: 0 0 1em 0;
  font-size: 1em;
}

#size-picker,
#controls,
#canvas-container {
  background: rgba(255, 255, 255, 0.5);
  border-radius: 15px;
  box-shadow: 2px 2px 14px rgba(0, 0, 0, 0.6);
}

/**********************************************************/
/* Controls */

#controls {
  width: 500px;
  margin: 0 auto 1em;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

/**********************************************************/
/* Buttons */

.button,
.tool {
  outline: none;
  display: block;
  background: none;
  margin: 0;
  border-radius: 15px;
  width: 70px;
  height: 70px;
  padding: 10px 10px 10px 10px;
  font-family: 'FontAwesome';
  font-size: 30px;
  text-align: center;
}

.button,
.button:hover:active {
  border: 2px solid rgba(0, 0, 0, 0.4);
  background: none;
  color: rgba(0, 0, 0, 0.4);
}

.button:hover {
  border-color: rgba(0, 0, 0, 0.5);
  color: rgba(0, 0, 0, 0.5);
  background: rgba(255, 255, 255, 0.4);
}

.button:disabled {
  border: none;
  color: rgba(0, 0, 0, 0.2);
  background: none;
}


.tool {
  -webkit-appearance: none;
  -moz-appearance: none;
  -o-appearance: none;
  -ms-appearance: none;
  appearance: none;
  color: rgba(0, 0, 0, 0.6);
  padding: 15px 0 10px 0;
  border: none;
}

.tool:hover {
  color: rgba(255, 255, 255, 0.6);
}

.tool:checked {
  color: rgba(255, 255, 255, 0.6);
  box-shadow: 2px 2px 14px rgba(0, 0, 0, 0.4);
}

.button span {
  display: none;
}

#new-grid:after {
 content: "\f00a"
}

#brush:after {
  content: "\f1fc";
}

#fill:after {
  content: "\f043";
}

#undo:after {
  content: "\f112";
}

#redo:after {
  content: "\f064";
}

/**********************************************************/
/* Size Picker */

#size-picker {
  padding: 1em;
  width: 20em;
  margin: 0 auto;
  color: rgba(0, 0, 0, 0.4);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  font-size: 1.5em;

  display: none;
}

#size-picker h2 {
  flex-basis: 100%;
}

label {
  display: inline-block;
  margin-bottom: 1em;
  width: 8em;
  flex-basis: 40%;
}

input[type=number] {
  outline: none;
  width: 3em;
  margin: 0 auto;
  background: transparent;
  border: none;
  border-bottom: 2px solid rgba(0, 0, 0, 0.4);
  font-size: inherit;
}

input[type=number]:hover,
input[type=number]:focus {
  background: rgba(255, 255, 255, 0.2);
}

#size-picker .button {
  display: inline-block;
  width: 8em;
  height: 3em;
  font-size: inherit;
  flex-basis: 40%;
}

/**********************************************************/
/* Canvas */

#canvas-container {
  display: inline-block;
  padding: 1em;
  color: rgba(0, 0, 0, 0.4);
  font-size: 1.5em;
}

table,
tr,
td {
    border: 1px solid black;
}

table {
    border-collapse: collapse;
    margin: 0 auto;
}

tr {
    height: 20px;
}

td {
    width: 20px;
    background-color: #fff;
}
