@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?6lwg1r');
  src:  url('fonts/icomoon.eot?6lwg1r#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?6lwg1r') format('truetype'),
    url('fonts/icomoon.woff?6lwg1r') format('woff'),
    url('fonts/icomoon.svg?6lwg1r#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

*,
*::after {
  box-sizing: border-box;
}

body {
    text-align: center;
    background: #94af9e;
    font-family: 'Open Sans', sans-serif;
}

h1 {
    font-size: 1.5em;
    color: rgba(255, 255, 255, 0.6);
    margin: 0.2em;
}

h2 {
  margin: 0 0 1em 0;
  font-size: 1em;
}

.container {
  background: rgba(255, 255, 255, 0.5);
  border-radius: 15px;
  box-shadow: 2px 2px 14px rgba(0, 0, 0, 0.6);
}

/**********************************************************/
/* Controls */

#controls {
  width: calc(8 * 90px);
  margin: 0 auto 1em;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

/**********************************************************/
/* Buttons */

.button,
.tool {
  outline: none;
  display: block;
  background: none;
  margin: 0;
  border-radius: 15px;
  width: 70px;
  height: 70px;
  padding: 10px 10px 10px 10px;
  /*font-family: 'FontAwesome';*/
  font-family: 'icomoon';
  font-size: 30px;
  text-align: center;
}

.button,
.button:hover:active {
  border: 2px solid rgba(0, 0, 0, 0.4);
  background: none;
  color: rgba(0, 0, 0, 0.4);
}

.button:hover {
  border-color: rgba(0, 0, 0, 0.5);
  color: rgba(0, 0, 0, 0.5);
  background: rgba(255, 255, 255, 0.4);
}

.button:disabled {
  border: none;
  color: rgba(0, 0, 0, 0.2);
  background: none;
}


.tool {
  -webkit-appearance: none;
  -moz-appearance: none;
  -o-appearance: none;
  -ms-appearance: none;
  appearance: none;
  color: rgba(0, 0, 0, 0.6);
  padding: 15px 0 10px 0;
  border: none;
}

.tool:hover {
  color: rgba(255, 255, 255, 0.75);
}

.tool:checked {
  color: rgba(255, 255, 255, 0.75);
  box-shadow: 2px 2px 14px rgba(0, 0, 0, 0.4);
}

.button span {
  display: none;
}

#new-grid:after {
 /*content: "\f00a";*/
 content: "grid";
}

#brush:after {
  /*content: "\f1fc";*/
  content: "brush";
}

#fill:after {
  /*content: "\f043";*/
  content: "fill";
}

#line:after {
  /*content: "\f068";*/
  content: "line";
  font-weight: bold;
}

#undo:after {
  /*content: "\f112";*/
  content: "undo";
}

#redo:after {
  /*content: "\f064";*/
  content: "redo";
}

#save:after {
  content: "save";
}

#picker:after {
  content: "color"
}

hr {
  width: 0;
  height: 60px;
  border: 2px solid rgba(0, 0, 0, 0.1);
  margin: 0 10px;
}

/**********************************************************/
/* Size Picker */

.dialog {
  padding: 1em;
  width: 20em;
  margin: 0 auto;
  color: rgba(0, 0, 0, 0.4);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  font-size: 1.5em;

  display: none;
}

.dialog h2 {
  flex-basis: 100%;
}

label {
  display: inline-block;
  margin-bottom: 1em;
  width: 15em;
  flex-basis: 80%;
}

.input {
  outline: none;
  margin: 0 auto;
  padding: 0.2em 1em;
  width: 15em;
  background: rgba(255, 255, 255, 0.2);
  border: 1px solid rgba(0, 0, 0, 0.4);
  font-size: inherit;
  color: rgba(0, 0, 0, 0.6);
  text-align: center;
}

.input:hover,
.input:focus {
  background: rgba(255, 255, 255, 0.3);
}

.dialog .button {
  display: inline-block;
  width: 8em;
  height: 3em;
  font-size: inherit;
  flex-basis: 40%;
  font-family: 'Open Sans', sans-serif;
  vertical-align: middle;
  line-height: 2em;
}

a {
  text-decoration: none;
  color: inherit;
  display: inline-block;
}

/**********************************************************/
/* Canvas */

#canvas-container {
  display: inline-block;
  padding: 1em;
  color: rgba(0, 0, 0, 0.4);
  font-size: 1.5em;
}

table,
tr,
td {
    border: 1px solid black;
}

table {
    border-collapse: collapse;
    margin: 0 auto;
}

tr {
    height: 20px;
}

td {
    width: 20px;
    background-color: rgb(255, 255, 255);
}
