*,
*::after {
  box-sizing: border-box;
}

body {
    text-align: center;
}

h1 {
    font-family: Monoton;
    font-size: 70px;
    margin: 0.2em;
}

h2 {
    margin: 1em 0 0.25em;
}

h2:first-of-type {
    margin-top: 0.5em;
}

table,
tr,
td {
    border: 1px solid black;
}

table {
    border-collapse: collapse;
    margin: 0 auto;
}

tr {
    height: 20px;
}

td {
    width: 20px;
    background-color: #fff;
}

input[type=number] {
    width: 6em;
}

label {
  display: none;
}

button {
  font-size: 0;
  background-color: #fff;

  border: 2px solid #ccc;
  border-radius: 15px;
  width: 60px;
  height: 60px;
  padding: 15px 0 10px 0;

}

button:after {
  font-family: 'FontAwesome';
  font-size: 30px;
  text-align: center;
  color: #888;
}

#undo:after {
  content: "\f112";
}

#redo:after {
  content: "\f064";
}

#colorPicker {
    width: 60px;
    height: 60px;
    background-color: #fff;
    border: 2px solid #ccc;
    border-radius: 15px;
    padding: 10px;
    outline: none;
}

input[name='tool'] {
  -webkit-appearance: none;
  -moz-appearance: none;
  -o-appearance: none;
  -ms-appearance: none;
  appearance: none;
  outline: none;
}

input[name='tool']:after {
  font-family: 'FontAwesome';
  font-size: 30px;
  text-align: center;
  color: #888;
  border: 2px solid #ccc;
  border-radius: 15px;
  width: 60px;
  height: 60px;
  padding: 15px 0 10px 0;
  display: block;
}

input[name='tool']:checked:after {
  color: #000;
}

#brush:after {
  content: "\f1fc";
}

#fill:after {
  content: "\f043";
}
